* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}
header {
  padding: 100px;
  text-align: center;
  background-color: rgb(100, 100, 100);
  color: white;
  font-family: verdana;
  font-size: 15pt;
}

#cadastro a {
  font-family: arial;
  font-size: 12pt;
  text-decoration: none;
  color: #000;
  margin: 10px;
  transition: ease 1s;
}
#cadastro a:hover {
  color: #f00;
  padding-left: 10px;
}
#cadastro {
  text-align: center;
}

form {
  text-align: center;
  padding: 10px;
  width: 40%;
  margin: auto;
  display: none;
}

input {
  width: 100%;
  padding: 10px;
  display: block;
  margin: 5px;
}
button {
  padding: 10px;
  border: none;
  background-color: rgb(100, 100, 100);
  cursor: pointer;
  transition: ease 2s;
}

#produtos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 5px 5px #eee;
  justify-content: center;
}

#produtos div {
  width: 30%;
  margin: 5px;
  text-align: center;
  border: 1px solid #eee;
}
#produtos div img {
  width: 250px;
  height: 200px;
}
h2 {
  font-family: "lucida Sans";
  font-size: 12pt;
}

h4 {
  font-family: "lucida Sans";
  font-size: 10pt;
  font-weight: lighter;
}
h5 {
  color: #500;
  font-family: "lucida Sans";
}
